.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--background-color);
    color: var(--color);
    container-type: inline-size;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: 0;
    min-width: 280px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: inherit;
    mix-blend-mode: difference;
    z-index: 2;
    width: 100%;
    margin-block-start: 20px;
}

.header a {
    text-decoration: none;
}

.header a:focus {
    outline: none;
}

.header img {
    width: 60px;
}

.header__label {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.header__label img {
    max-width: 50px;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    margin-inline-end: 20px;
}

.main__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__list-item {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.main__list-item-image {
    max-width: 200px;
    object-fit: cover;
    object-position: center;
}



@container (inline-size <= 375px) {
    .main {
        width: 100vw;
    }
}

@container (inline-size > 375px) {
    .main {
        max-width: 375px;
    }

    .header {
        max-width: 375px;
    }
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}