.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--color);
    container-type: inline-size;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: 0;
}

.header {
    color: inherit;
    mix-blend-mode: difference;
    z-index: 2;
}

.header a {
    text-decoration: none;
}

.header a:focus {
    outline: none;
}

.main__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__list-item {
    display: flex;
    gap: 20px;
}

.main__list-item-image {
    max-width: 200px;
    object-fit: cover;
    object-position: center;
}



@container (inline-size <= 375px) {
    .main {
        width: 100vw;
    }
}

@container (inline-size > 375px) {
    .main {
        max-width: 375px;
    }
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}