.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    text-align: center;
    height: 100%;
}

.darkTheme {
    color: white;
    background-color: darkblue;
}

.lightTheme {
    color: brown;
    background-color: wheat;
}